.btn6, .btn6:link, .btn6:visited {
    padding: 5px 4px;
    border: 1px solid #333;
    width:160px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.5px;
    transition: all .2s ease-in-out;
    height: 30px;

  }

  .logo{
      font-weight: 700;
      letter-spacing: 3px;
      font-size: 25px;
  }

  .navdiv div{
      margin-top:1.87%
  }

  .btn6:hover {
    background: #333;
    border: 1px solid #333;
    color: #fefefe;
    border-radius: 30px;
  }
